import 'package:${appName}${relative}/index.dart';
import 'package:${appName}${relative}/${inputName}_provider.dart';

class ${upperName}Repository {
  final ${upperName}Provider _${privateName}Provider = ${upperName}Provider();

  ${upperName}Repository();

  Future<void> fetch() async {
    _${privateName}Provider.get();
  }

  Future<void> push() async {
    _${privateName}Provider.post();
  }
}
