<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>117399638216-ren737akhkseacrt3bjeu7li16fqq979.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.117399638216-ren737akhkseacrt3bjeu7li16fqq979</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>117399638216-r2gj3q3f0b0a7km2qrl5635rj1o3d3kg.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD3EcwpcYH7DL89KH_tu7FA1qFOXHlZgcw</string>
	<key>GCM_SENDER_ID</key>
	<string>117399638216</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.h2uclub.hi365</string>
	<key>PROJECT_ID</key>
	<string>hi365-b2622</string>
	<key>STORAGE_BUCKET</key>
	<string>hi365-b2622.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:117399638216:ios:a171f778d80e169f</string>
	<key>DATABASE_URL</key>
	<string>https://hi365-b2622.firebaseio.com</string>
</dict>
</plist>